In [9]:
# we use trees here and check if all conditions are met
# classification and if met we proceed

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
# from sklearn.cross_validation import train_test_split

## Import The Dataset

In [6]:
df = pd.read_csv("../data/Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

### Splitting the dataset

In [11]:
X = df.iloc[ : ,[2, 3]].values
y = df.iloc[ : ,4].values

X_train , X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 0)

### Feature Scaling