In [14]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv('../data/randomdata.csv')

df.head(3)

   Hours_Studied  Test_Score  Work_Hours  Income
0              2          60          40   30000
1              3          65          35   35000
2              4          75          30   40000

In [13]:
print(df.columns, '\n' ,df.shape)

Index(['Hours_Studied', 'Test_Score', 'Work_Hours', 'Income'], dtype='object')
 (19, 4)

In [15]:
# Lets get values for the work hours as X and income as Y
X = df.iloc[ : , 2]
y = df.iloc[ : , 3]

# print(X, y)

0     40
1     35
2     30
3     25
4     20
5     15
6     10
7      5
8      0
9     -5
10   -10
11   -15
12   -20
13   -25
14   -30
15   -35
16   -40
17   -45
18   -50
Name: Work_Hours, dtype: int64 0      30000
1      35000
2      40000
3      45000
4      50000
5      55000
6      60000
7      65000
8      70000
9      75000
10     80000
11     85000
12     90000
13     95000
14    100000
15    105000
16    110000
17    115000
18    120000
Name: Income, dtype: int64

In [16]:
# we train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 1/4, random_state = 0)

In [ ]:
# now we add the predictor