In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

from sklearn.linear_model import LinearRegression

Matplotlib is building the font cache; this may take a moment.

In [3]:
i = pd.read_csv("../data/insurance.csv")
i.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# we are predicting charges using the other vars

### EDA

In [7]:
i.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
# check unique values in the categorical data
i.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [12]:
i['sex'] = i['sex'].astype('category')
i['sex'] = i['sex'].cat.codes
i.head(3)

   age  sex    bmi  children smoker     region     charges
0   19    0  27.90         0    yes  southwest  16884.9240
1   18    1  33.77         1     no  southeast   1725.5523
2   28    1  33.00         3     no  southeast   4449.4620

In [14]:
i['smoker'] = i['smoker'].astype('category')
i['smoker'] = i['smoker'].cat.codes
i.head(3)

   age  sex    bmi  children  smoker  region     charges
0   19    0  27.90         0       1       3  16884.9240
1   18    1  33.77         1       0       2   1725.5523
2   28    1  33.00         3       0       2   4449.4620

In [13]:
i['region'] = i['region'].astype('category')
i['region'] = i['region'].cat.codes
i.head(3)

   age  sex    bmi  children smoker  region     charges
0   19    0  27.90         0    yes       3  16884.9240
1   18    1  33.77         1     no       2   1725.5523
2   28    1  33.00         3     no       2   4449.4620

i

### Now lets solve the equations variables

In [16]:
# we take all columns excpet the charges
X = i.drop(columns='charges')
X

In [18]:
y = i['charges']

In [20]:
from sklearn.model_selection import train_test_split
X-train, X-test,

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64